html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: url(fonts/Avenir Next Cyr); }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; color: #000;}
a:hover { text-decoration: underline; color: #000;}

/*Header*/
header {
	padding: 16px 0;
	border-bottom: 1px solid #adb5bd;
}

.text-muted {
	font-size: 16px;
}

.blog-header-logo {
	font-size: 25px;
}

.log-in {
	border-radius: 10px;
	margin-left: 15px;
}

.main-block {
	background: url(../img/fds-172.png);
}

/*Nav-scroll*/

/*Main*/
.nav-main {
	padding: 25px 0;
	font-size: 16px;
}

.fast-search {
	border: 1px solid #adb5bd;
	padding: 10px 5px;
}

.search {
	background: #dee2e6;
	color: #000;
	padding: 10px 35px;
	margin-left: 20px;
}

.main-card {
	text-align: center;
}

.card {
	display: inline-block;
	margin: 10px;
}

.main-footer {
	display: block;
	margin: 15px 0;
}

.btn-main {
	background-color: #636464;
	padding: 10px 20px;
	border-radius: 10px;
}

.main-text {
	text-align: center;
	margin: 15px 0;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #636464;
}

/*Description*/
.description {
	padding: 15px 0;
	margin-bottom: 25px;
}
.description-title {
	font-size: 18px;
	font-weight: 700;
}

.description-text {
	font-size: 16px;
	padding: 15px 0;
}

/*Footer*/
footer {
	color: #fff;
	font-size: 15px;
	padding: 15px;
}

.list-unstyled li {
	padding: 10px 0;
}

.footer-box {
	display: inline-block;
	width: 20px;
   height: 20px;
   background: #f8f9fa;
}

.footer-row {
	border-bottom: 1px solid white;
   padding-bottom: 50px;
   padding-top: 35px;
}

.social-block {
	text-align: center;
}